[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-dotenv = "*"
mysqlclient = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
server = "uvicorn app:app --reload"
